body {
    background-color: #bc312b;
    color: white;
}

.jumbotron {
    background-color: #999798;
}

.navbar {
    background-color: #999798;
    margin-bottom: 50px;
}

#input h2 {
    background-color: black;
    padding: 1rem;
    font-weight: bold;
}

.food-row {
    margin-bottom: 40px;
}

.food-row .waktu {
    text-align: center;
    background-color: black;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
}

.food-card {
    background-color: #999798;
    color: black;
    width: 240px;
}

.food-card img.card-img-top {
    max-width: 200px;
    margin: 20px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.nav-item a {
    color: white;
}
